body {
	text-align: center;
  padding: 25px;
  font-family: 'sans serif';
  font-size: 12pt;
}
// div, span { border: 1px solid #eee; }
#ui {
  max-width: 600px;
	margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "title title title"
    "instructions instructions instructions"
    "stats timer restart"
    "messenger messenger messenger";
}
.page-title {
  grid-area: title;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}
.instructions-container {
  text-align: left;
  grid-area: instructions;
  border: 1px solid #ccd;
  border-width: 0 0 1px 0;
  padding: 1px;
  margin-bottom: 1em;
  .title {
    font-weight: bold;
    padding: 2px;
  }
  .instructions {
    font-size: 75%;
    color: #667;
  }
  .up-arrow, .down-arrow {
    color: #778;
    font-size: 75%;
    cursor: pointer;
    margin-left: 1em;
  }
  .up-arrow:before { content: "▲"; }
  .down-arrow:before { content: "▼"; }
}
.stats {
  grid-area: stats;
  font-size: 85%;
  p {
    margin: 0.5em;
    text-align: left;
  }
}
.timer {
  grid-area: timer;
  margin: auto auto 0.5em auto;
  font-size: 125%;
  #game-timer {
    grid-area: timer;
    font-weight: bold;
  }
}
.restart {
  grid-area: restart;
  margin: auto 0 1em auto;
  .button {
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #666;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  .button:hover {
    background-color: #fdd;
    transition: background-color 0.5s ease;
  }
}
.messenger {
  grid-area: messenger;
  text-align: center;
  font-size: 200%;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-size: 75%;
  padding: 0.5em;
  color: #000;
  // visibility: hidden;
  background-color: #ddd;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  top: 125%;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  border: 5px solid;
  border-color: transparent transparent #ddd transparent;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}